<h2>{{ title }}</h2>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

{ {{latHome}} || {{lngHome}} }
<sebm-google-map [latitude]="latHome" [longitude]="lngHome">
  <sebm-google-map-marker
  		#marker1 
		[latitude]="lat" 
		[longitude]="lng" 
		[iconUrl]="CAIcon" 
		[title]="markerTitle" 
		(markerClick)="markerClicked(marker1)" ></sebm-google-map-marker>
  <sebm-google-map-marker
  		#marker2
  		[latitude]="latHome" 
  		[longitude]="lngHome"
  		[markerDraggable]="false"
		(markerClick)="markerClicked(marker2)"
		(dragEnd)="dragEnded(marker2)"
  		></sebm-google-map-marker>
</sebm-google-map>




